body{
    margin: 0;
    background-image: url(338543.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
   
   
    
}
.word1{
    
    color: white;
    padding: 2rem;
    

}
header a{
    color: white;
    text-decoration: none;

}

.header_middel{
    display: flex;
    justify-content: start;
    
}
.end{
    display: flex;
    justify-content: end;
    padding: 1rem;
}

h2{
    padding: 1rem;
}
.icon1, .icon2{
    padding: 1rem;
}


header a:hover{
    color: #34495e;
    transition: color 0.5s;
    font-size: larger;
    
}




.middle{
    width: 250px;
    text-align: center;
    margin-top: 25rem;
    margin-left: 52rem;
    color: white;
    
}
.middle button{
    color: #34495e;
    width: 200px;
    height: 50px;
    background-color: grey;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 20px;
    flex-basis: 48%;

}
.middle a{
    text-decoration: none;
    color: #34495e;
}
.middle .button:hover{
    background-color: white;
    color: black;
    transition: 0.5s;
    width:250px;
    height: 60px;
}

footer{
    color: white;
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-top: 7rem;
}

footer div{
    padding: 1rem;
    
}

@media(max-width: 426px){

    
        body{
            background-image: url(Bmw\ 🖤😈\ -\ M4.jpg);
            background-size: cover;
        }
    
    

    header{
        width: max-content;
        display: flex;
        justify-content: space-between;
        
    }
   
     .middle{
            width: 250px;
            text-align: center;
            margin-top: 10rem;
           margin-left: 5rem;
            color: white;
            
        }

    footer{
        margin-top: 22rem;
    }

}

@media (max-width:769px ){
    
    footer{
        margin-top: 24rem;
    }

    .middle{
        width: 250px;
        
        margin-top: 20rem;
        margin-left: 18rem;
        color: white;
        
    }
}


@media(max-width: 321px){
    body{
        width: 321px;
    }
    header{
        
    }
    .middle{
        margin-left: 3rem;

    }
    footer{
        margin-left: 3rem;
    }

}