body{
    margin: 0;
    background-image: url(bmw-m2-nfs-raining-4k-ww.jpg);
    background-size: cover;
}
header{
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    border-bottom: solid white 1px;
   
    
}
.word1{
    
    color: white;
    padding: 2rem;
    

}
a{
    color: white;
    text-decoration: none;

}

.header_middel{
    display: flex;
    justify-content: start;
    
}
.end{
    display: flex;
    justify-content: end;
    padding: 1rem;
}

h2{
    padding: 1rem;
}
.icon1, .icon2{
    padding: 1rem;
}
.faded{
    background-color: black;
    background-size: cover;
    width: 100%;
    height: 100%;
    
}

header a:hover{
    border-bottom: solid 1px;
    border-color: white;



    
    
}

.MainDiv .hoverBox:hover{
    background-color: #7f8c8d;
    
}
.MainDiv{
    color: #34495e;
    margin-top: 10rem;
    display: flex;
    justify-content: center;

    
   
}

.divP{
    display: flex;
    justify-content: center;
}
.hoverBox{
    display: flex;
    justify-content: center;
    width: 8rem;
    height: 4rem;

    
    
}
.divP h2{
    padding: 0;
}