<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    
     <div class="övreMain">
        <header>
    
            <div class="header_middel">
                <div class="word1"><a href="">AuroraMotors</a></div>
                 <div class="word1"><a href="">Modellen</a></div>
            </div>
    
            <div class="end">
                <div class="icon1"><a href=""><iconify-icon icon="ic:baseline-perm-identity" width="2rem" height="2rem" ></iconify-icon></a></div>
                <div class="icon2"><a href=""><iconify-icon icon="mdi:shopping-cart-outline" width="2rem" height="2rem" ></iconify-icon></a></div>
            </div>
    
     </header>
     <div class="nedreMain">
        
            <p>
                The New
            </p>
            <h1 class="I5">
                Am5
            </h1>
      
        <p>
            BMW i Gå in under huven på den 100% elektriska BMW i5 Touring här får du veta allt som är värt att veta om helt nya BMW i5 Touring.

        </p>
        <h3>
            <button class="ButtonNedreMain">
                <a href="">Buy</a>
            </button>
        </h3>
        

     </div>

     </div>
     <p class="smal">Angående den Ransomware attack som utfördes mot vår IT-leverantör Tietoevry den 19–20 januari i år: Vi börjar nu se slutet på effekterna och våra administrativa funktioner i våra drabbade IT-system är nu tillgängliga fullt ut igen. Vi har sammanställt information kring incidenten. Enligt Tietoevrys interna utredning pekar inget på att personuppgifter skulle ha läckt ut. </p>

     <div class="undermain">
        <h1>
            Mer information På bilen
         </h1>
     </div>
     

     <main>
        <div class="container1">
            <div class="Content1">
                <h1>
                    AMI4
                </h1>
                <h2>
                    the New
                </h2>
                <p>
                    <button>
                        <a href="">Buy Now</a>
                    </button>
                </p>
            </div>
        </div>

        <div class="container2">
            <div class="Content2">
                <h1 class="I5">
                    AM6
                </h1>
                <h2 class="crazy">
                    the New
                </h2>
                <p>
                    <button>
                        <a href="">Buy Now</a>
                    </button>
                </p>
            </div>

        </div>
        
    
            
            
        

     </main>

     <footer>
        <div>
            <p>
                @Mohammed-Alghaeb
            </p>
            <p>
                contact gmail
            </p>
            <p>
                contact nummber
            </p>
        </div>

        <div>
            <p>Alla bilder är i bmw.com</p>
            <p> Iden av bmw</p>
        </div>
       
    </footer>
    

    
</body>
<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js">

    let Läsmer=document.getElementById("Läsmer")
    Läsmer.onclick=function(){
        Läsmer.classList.add("button")
    }
    
</script>

</html>



