<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    
     <header>
    
            <div class="header_middel">
                <div class="word1"><a href="">AuroraMotors</a></div>
                 <div class="word1"><a href="">Modellen</a></div>
            </div>
    
            <div class="end">
                <div class="icon1"><a href=""><iconify-icon icon="ic:baseline-perm-identity" width="2rem" height="2rem" ></iconify-icon></a></div>
                <div class="icon2"><a href=""><iconify-icon icon="mdi:shopping-cart-outline" width="2rem" height="2rem" ></iconify-icon></a></div>
            </div>
    
     </header>
    

    
</body>
<script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js">

    let Läsmer=document.getElementById("Läsmer")
    Läsmer.onclick=function(){
        Läsmer.classList.add("button")
    }
    
</script>
</html>